@charset "utf-8";
/* CSS Document */

#car{
	width:1000px;
	margin:auto;
	height:300px;
	margin-top:80px;
	border:1px solid #36C;
}
table a{
	text-decoration:none; 
	color:#000;
}
table a:hover{
	cursor:pointer;
	color:#F07818;
}