body,ul,li{margin: 0px;padding: 0px;}

#rrr{
	width:100%;
	height:770px;
	background:#F2F6F7;
}
#fff{
	width:100%;
	height:505px;
	background:#F2F6F7;
}
.main3{
	/*border: 1px solid #000;*/
	margin-top: 70px;
	width: 700px;
	position:absolute;
	margin-left:22%;
	height: 670px;
}
.main4{
	/*border: 1px solid #000;*/
	margin-top: 70px;
	width: 700px;
	position:absolute;
	margin-left:22%;
	height: 420px;
}

table tr{
	height:60px;
}
table input{
	-moz-border-radius:4px; 
    -webkit-border-radius:4px; 
    border-radius:4px;
	margin-top:7px; 
	height:30px;
	width:55%;
	border:2px solid #888;
}
table input:focus{
    outline: none;
    border: 2px solid #F07818;
    -moz-border-radius:4px; 
    -webkit-border-radius:4px; 
    border-radius:4px;
}
#footer3{
	width:100%;
	height:100px;
	border-top:1px solid #CCC;
	position:absolute;
}
.foot-let{
	width:500px;
	height:80px;
	/*border:1px solid #966;*/
	margin-top:5px;
	margin-left:100px;
	list-style:none;
	float:left;
}
.foot-rit{
	width:300px;
	height:80px;
	/*border:1px solid #939;*/
	float:right;
	margin-right:120px;
	margin-top:5px;
	list-style:none;
	text-align:right;
}