@charset "utf-8";
/* CSS Document */

.leisi{
	width:70%;
	height:40px;
	font-size:18px;
	/*border:1px solid #00C;*/
	line-height:40px;
	margin:auto;
	margin-top:60px;
	letter-spacing:3px;
	background:#F08218;
	-moz-border-radius:4px; 
	-webkit-border-radius:4px; 
	border-radius:4px;
	color:#FFF;
}

#main5{
	width:70%;
	height:870px;
	margin:0 auto;
	position:relative;
	/*border:1px solid #000;*/
	-moz-border-radius:4px; 
	-webkit-border-radius:4px; 
	border-radius:4px;
	margin-bottom:40px;
	background:#CCC;
	opacity:0.9;
}

.bigkuang{
	width:400px;
	height:220px;
	border:1px solid #333;
	box-shadow:3px 3px 3px #333;
	margin-top:40px;
	margin-left:32px;
	float:left;
	-moz-border-radius:4px; 
	-webkit-border-radius:4px; 
	border-radius:4px;
}
.tu{
	width:240px;
	height:200px;
	/*border:1px solid #933;*/
	float:left;
	margin-top:10px;
	margin-left:10px;
	-moz-border-radius:4px; 
	-webkit-border-radius:4px; 
	border-radius:4px;
}
.mingzi{
	width:130px;
	height:30px;
	/*border:1px solid #069;*/
	border-bottom:1px solid #000;
	margin-top:10px;
	margin-left:260px;
	float:left;
	position:absolute;
	letter-spacing:2px;
	line-height:30px;
	/*font-family:Georgia, "Times New Roman", Times, serif;*/
}
.neirong{
	width:130px;
	height:70px;
	/*border:1px solid #993;*/
	border-bottom:1px solid #000;
	float:left;
	margin-left:260px;
	margin-top:-164px;
	/*font-family:Georgia, "Times New Roman", Times, serif;*/
}
.jiage{
	/*border:1px solid #339;*/
	width:130px;
	height:45px;
	float:left;
	border-bottom:1px solid #000;
	position:absolute;
	margin-left:260px;
	margin-top:120px;
}
.xiangqing{
	width:130px;
	height:30px;
	line-height:30px;
	/*border:1px solid #936;*/
	border-bottom:1px solid #000;
	float:left;
	position:absolute;
	margin-top:175px;
	margin-left:260px;
}
.xiangqing a{
	text-decoration:none;
	color:#000;
}
.xiangqing a:hover{
	cursor:pointer;
	color:#F08218;
}
ul li{
	float:left;
	/*border:1px solid #CF6;*/
	width:223px;
	letter-spacing:2px;
	text-align:center;
	line-height:40px;
	height:40px;
	font-size:16px;
}
ul li a{
	text-decoration:none;
	color:#000;
}
ul li a:hover{
	cursor:pointer;
	color:#F93;
}


#ddd{
	width:100%;
	height:1000px;
	background:#F2F6F7;
}
.nei{
	width:900px;
	height:870px;
	/*border:1px solid #0FC;*/
	margin-top:50px;
	margin-left:200px;
	position:absolute;
}



















